<li class="list-group-item beige devour">
    <form class="devour-form form-inline button-size">
        {{burger_name}}
        <input type="hidden" class="burger-id" value={{id}}>
        <button type="submit" class="btn btn-default gray-button">Devour it!</button>
    </form>
</li>