<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;400;700;900&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <!-- Title -->
    <title>Burger Logger</title>
</head>

<body>
    {{{ body }}}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {{!-- JS --}}
    <script src="../../public/assets/js/script.js"></script>
</body>

</html>