body {
    background-color:#59a56c;
    font-family: 'Big Shoulders Stencil Display', sans-serif;
}

h1 {
    font-size: 55px;
    font-weight: 900;
    color: #41382f;
}

h2 {
    color: #41382f;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    width: 22rem; 
    margin: auto;
    margin-bottom: 10px;
}

.beige {
    background-color: beige;
}

.add-burger {
    margin: auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa !important;
    opacity: 1; /* Firefox */;
    font-size: 18px;
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa !important;
  }
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa !important;
  }

.burger-list {
    font-size: 25px;
    color: #41382f;
    display: inline;
}

.devoured {
    font-size: 25px;
    color: #aaa;
}

.brown-button {
    background-color: #41382f;
    color: beige;
}

.brown-button:hover {
    background-color: #666666;
}

.gray-button {
    float: right;
    background-color: #666666;
    color: beige;
}

.gray-button:hover {
    background-color: #41382f;
    color: beige;
}