body {
    background-color:#51a667;
    font-family: 'Big Shoulders Stencil Display', sans-serif;
    color: #555555  !important;
}

h1 {
    font-size: 55px;
    font-weight: 900;
    color: #41382f;
}

h2 {
    color: #41382f;
    font-size: 40px;
    font-weight: 400;
}

.devour-form {
    font-size: 25px;
    color: #41382f;
    display: inline;
}

.brown-button {
    float: right;
    display: inline;
    background-color: #41382f !important;
    color: beige !important;
}

.brown-button:hover {
    background-color: #666666 !important;
}

.gray-button {
    float: right;
    display: inline;
    background-color: #666666 !important;
    color: beige !important;
}

.gray-button:hover {
    background-color: #41382f !important;
}

.beige {
    background-color: beige !important;
}

.devoured {
    color: #aaa !important;
}